In [36]:
import pandas as pd
import numpy as np

In [37]:
df=pd.read_csv('Age')

In [38]:
df.drop(columns=df.columns[0], 
        axis=1, 
        inplace=True)

In [39]:
df

      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [40]:
dic={1:500,4:200}

In [41]:
dic

{1: 500, 4: 200}