In [12]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [17]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

In [18]:
url='https://www.naukri.com/'
driver.get(url)

In [19]:
# Find Search bar for Job , location and enter data
search_job= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_location= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_job.send_keys('Data Analyst')
search_location.send_keys('Bangalore')


# Click search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

# Find Job Title,  Job-Location , Company Name, Experience Required

In [25]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

title=[]
location=[]
company=[]
exp=[]
for i in title_tags:
    title.append(i.text)
for i in location_tags:
    location.append(i.text)
for i in company_tags:
    company.append(i.text)
for i in exp_tags:
    exp.append(i.text)
    
    
DataAnalyst=pd.DataFrame({'Job Title':title[0:10],'Company':company[0:10],'Location':location[0:10],'Experience':exp[0:10]})
DataAnalyst.index +=1

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [28]:
def page(url,profile,location):
    driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
    driver.get(url)
    
    search_job= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
    search_location= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
    search_job.send_keys(profile)
    search_location.send_keys(location)
    search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
    search_button.click()
    
    title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
    company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

    title=[]
    location=[]
    company=[]
    exp=[]
    for i in title_tags:
        title.append(i.text)
    for i in location_tags:
        location.append(i.text)
    for i in company_tags:
        company.append(i.text)
    for i in exp_tags:
        exp.append(i.text)
    
    
    DataAnalyst=pd.DataFrame({'Job Title':title[0:10],'Company':company[0:10],'Location':location[0:10],'Experience':exp[0:10]})
    DataAnalyst.index +=1
    
    return DataAnalyst

In [29]:
page('https://www.naukri.com/','Data Analyst','Banglore')

Empty DataFrame
Columns: [Job Title, Company, Location, Experience]
Index: []